
.idea/Blanksy.iml
.idea/misc.xml
*.xml
*.cbp
*.cmake
*.txt
*.bin
cmake-build-debug/CMakeFiles/3.13.2/CompilerIdC/a.exe
cmake-build-debug/CMakeFiles/3.13.2/CompilerIdC/CMakeCCompilerId.c
cmake-build-debug/CMakeFiles/3.13.2/CompilerIdCXX/CMakeCXXCompilerId.cpp
cmake-build-debug/CMakeFiles/3.13.2/CompilerIdCXX/a.exe
cmake-build-debug/CMakeFiles/Blanksy.dir/build.make
cmake-build-debug/CMakeFiles/Blanksy.dir/depend.make
cmake-build-debug/CMakeFiles/Blanksy.dir/flags.make
cmake-build-debug/CMakeFiles/Blanksy.dir/progress.make
cmake-build-debug/CMakeFiles/cmake.check_cache
cmake-build-debug/CMakeFiles/CMakeOutput.log
cmake-build-debug/CMakeFiles/feature_tests.c
cmake-build-debug/CMakeFiles/feature_tests.cxx
cmake-build-debug/CMakeFiles/Makefile2
cmake-build-debug/CMakeFiles/progress.marks
cmake-build-debug/Makefile
